:root {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
}

#main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
}
#score {
  font-size: 20px;
  padding-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
#result {
  font-size: 30px;
  padding-bottom: 20px;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}
#class {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}
#class > div {
  height: 200px;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 600;
  font-family: "Courier New", Courier, monospace;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  touch-action: manipulation;
}

#class > div:hover {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

#class > div:focus {
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

/* 
# snake-water-gun Game

--> Working : 

    it will provide 3 options to user "snake","water" and "gun".
    user need to select any one number user will get the result 
    also score view.


## --> Features

- Score board
- Full access
- Responsive


##  links

Git hub :- https://github.com/mitansh99/  
repo link :- https://github.com/mitansh99/snake-water-gun_game/   
instagram :- https://www.instagram.com/mitanshpatelll/
##  --> Thanks you 😊 */